@import url("https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --toggler-back-light: #78c1d5;
  --toggler-back-dark: #b9e6f4;
  --toggler-back-border: #b9e6f4;
  --light: #cdcaff;
  --dark: #2217ec;
}

body .back.dark {
  --toggler-back-light: #464646;
  --toggler-back-dark: #232323;
  --toggler-back-border: #202020;
  --light: #fcbbd4;
  --dark: #76002d;
}

.dark .swiper {
  box-shadow: 0 0 10px #fff;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

h1,
.h1 {
  font-family: "Itim", cursive;
  color: var(--dark);
  margin-bottom: 30px;
}

h2,
.h2 {
  font-family: "Itim", cursive;
  color: var(--dark);
  font-size: 25px;
  margin-bottom: 10px;
  text-decoration: underline;
}

h3,
.h3 {
  font-size: 20px;
}

a {
  color: var(--dark);
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-in-out;
}
a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--dark);
  display: block;
  height: 1px;
  width: 0;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: var(--dark);
}
a:hover::after {
  width: 100%;
}

.back {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 50px 0;
  box-sizing: border-box;
}

.swiper {
  width: 90%;
  max-width: 1400px;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.swiper-slide {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.swiper-pagination {
  top: 0 !important;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-image: linear-gradient(var(--light), #fff);
  padding: 5px;
  border-radius: 0 0 20px 20px;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: auto;
  height: auto;
  border-radius: 0;
  opacity: 1;
  background-color: transparent;
  color: var(--dark);
  padding: 10px 20px;
  border-radius: 0 0 15px 15px;
  margin: 0 !important;
  transition: all 0.3s ease-in-out;
  font-family: "Itim", cursive;
}

.swiper-pagination-bullet-active {
  background-color: var(--dark);
  color: #fff;
}

.swiper-slide-next,
.swiper-slide-prev,
.swiper-cube .swiper-slide-next + .swiper-slide {
  pointer-events: none !important;
}

.content {
  margin: 60px 10px 10px;
  background-image: linear-gradient(var(--light) -50%, #fff);
  height: calc(100% - 70px);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: auto;
  scrollbar-color: var(--dark) var(--light);
  scrollbar-width: thin;
  box-shadow: 0 0px 15px #fff;
}

.locationDiv {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.locationDiv .icon {
  font-size: 30px;
  color: var(--light);
  width: 40px;
  text-align: center;
}
.locationDiv p {
  margin-bottom: 0;
}

.socialMedia {
  margin: auto;
  display: flex;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 50px;
}
.socialMedia a {
  color: var(--dark);
  background-color: var(--light);
  width: 35px;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  border-radius: 10px 0 10px 0;
  transition: all 0.3s ease-in-out;
}
.socialMedia a:hover {
  color: #fff;
  background-color: var(--dark);
  border-radius: 0 10px 0 10px;
}
.socialMedia a::after {
  display: none;
}

.abtFlex {
  margin-bottom: 30px;
}

.myName {
  font-size: 40px;
  color: var(--dark);
  margin-bottom: 0;
  font-weight: 700;
  font-family: "Itim", cursive;
  text-transform: uppercase;
}

.desig {
  text-transform: uppercase;
  font-weight: 700;
}

.myPic {
  width: 250px;
  height: 250px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px;
  opacity: 0.1;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.skill {
  background-image: linear-gradient(var(--light) -30%, var(--dark));
  padding: 20px;
  display: flex;
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 5px #fff;
  align-items: center;
  justify-content: start;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
  flex-wrap: wrap;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.skill .icon {
  font-size: 40px;
  filter: drop-shadow(0 0 5px #fff);
}
.skill p {
  margin-bottom: 0;
  margin: auto;
}
.skill:hover {
  background-image: linear-gradient(var(--light) 80%, var(--dark));
  color: #000;
}

.portItem {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  max-width: 400px;
  margin: auto;
}
.portItem img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.portItem .overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.portItem .overlay .ico {
  width: 50px;
  line-height: 50px;
  background-color: #fff;
  color: var(--dark);
  text-align: center;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.portItem .overlay .ico:hover {
  border-radius: 0 10px 0;
}
.portItem:hover .overlay {
  top: 0;
}

.glowList li {
  padding-right: 10px;
  list-style-type: none;
  position: relative;
  padding-top: 15px;
}
.glowList li::before {
  content: "";
  box-shadow: 0 0 0px 2px #fff, 0 0 10px 7px #fff;
  position: absolute;
  left: -30px;
  border-radius: 50%;
  background: var(--dark);
  width: 10px;
  height: 10px;
  top: 20px;
}
.glowList li::after {
  content: "";
  position: absolute;
  left: -26px;
  background: var(--dark);
  width: 1px;
  height: 100%;
  top: 0;
  z-index: -1;
}
.glowList p {
  margin-bottom: 0;
}
.glowList .year {
  color: var(--dark);
  font-weight: 700;
}

@media (max-width: 767px) {
  .content {
    margin: 10px;
    height: calc(100% - 20px);
  }
  .swiper {
    width: 100%;
  }
  .back {
    padding: 20px 20px 100px;
  }
  .swiper-pagination {
    top: auto !important;
    bottom: -100px !important;
    left: -20px !important;
    width: calc(100% + 40px) !important;
    right: -20px;
    margin: 0;
  }
  .abtFlex,
  .myName,
  .desig {
    text-align: center;
  }
  .abtCont {
    text-align: left;
  }
  .myPic {
    float: none;
  }
  .skill {
    padding: 10px 20px;
  }
}
.toggler {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 65px;
  height: 30px;
  border-radius: 15px;
  background-image: linear-gradient(to right, var(--toggler-back-light), var(--toggler-back-dark));
  border: solid 2px var(--toggler-back-light);
}
.toggler .sunMoon {
  width: 40%;
  background: #f5ec59;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  aspect-ratio: 1/1;
  transition: all 0.3s ease-in-out;
  border: solid 2px #e7c65c;
}

.dark .sunMoon {
  background: #fffdf2;
}/*# sourceMappingURL=style.css.map */